// main colors

$main-green: #0a464b;
$egg-shell: #f4f2ea;
$pale-pink: #ffca9f;
$brown: #2c2c2c;
$point-light: lighten($pale-pink, 5%);

$card-shadow: -20px -20px 0px 0px $point-light;

// Fontawsome colors

$react: #61DAFB;
$database: #FFCF40;
$sass: #C76494;
$node: #76AB60;
$javascript: #EFD81D;
$angular: #D6002F;
$python: #3473A5;