@import '../abstracts/variables';
@import '../base/typography';


/* The Overlay (background) */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    background-color: $pale-pink;
    overflow-x: hidden;
    transition: 0.2s;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
    font-family: $font-mont;
    padding: 8px 0;
    text-decoration: none;
    font-size: 36px;
    color: $main-green;
    display: block;
    transition: letter-spacing 0.2s;

    &:hover {
        letter-spacing: 0.5rem;
    }
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.header-home {
    span {
        z-index: 3;
        position: fixed;
        top: 10px;
        right: 40px;
        color: $pale-pink;
    }
}


@media (min-width: 576px) {

    .home-page {
        .header-home {
            span {
                visibility: hidden;
            }
            .overlay {
                .scroll {
                    color: $main-green;
                }
                .overlay-content {
                    visibility: visible;
                    opacity: 1;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;
                    padding: 10px;
                    margin-top: 15px;
                    position: fixed;
                    top: 5px;
                    width: 100%;
                    z-index: 5;
                    height: 0;
                    
        
                    a {
                        text-transform: none;
                        text-decoration: none;
                        font-family: $font-mont;
                        color: $egg-shell;
                        font-weight: 550;
                        font-size: 1rem;
                        letter-spacing: 0.2rem;
                        padding: 10px;
                        position: relative;
                        transition: 0.2s;
        
                        &:hover {
                            letter-spacing: 0.3rem;
                        }
                    }
                }

            }
        }
    }
}

@media (min-width: 768px) {

    //page one
    .home-page {
        .header-home {
            .overlay {
                .overlay-content {    
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1700px) {

    //page one
    .home-page {
        .header-home {
            .overlay {
                .overlay-content {    
                    a {
                        font-size: 2.7em;
                    }
                }
            }
        }
    }
}