/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  background-color: #ffca9f;
  overflow-x: hidden;
  transition: 0.2s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  font-family: "Montserrat", sans-serif;
  padding: 8px 0;
  text-decoration: none;
  font-size: 36px;
  color: #0a464b;
  display: block;
  transition: letter-spacing 0.2s;
}
.overlay a:hover {
  letter-spacing: 0.5rem;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.header-home span {
  z-index: 3;
  position: fixed;
  top: 40px;
  right: 40px;
  color: #ffca9f;
}

@media (min-width: 576px) {
  .home-page .header-home span {
    visibility: hidden;
  }
  .home-page .header-home .overlay .scroll {
    color: #0a464b;
  }
  .home-page .header-home .overlay .overlay-content {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 10px;
    margin-top: 15px;
    position: fixed;
    top: 5px;
    width: 100%;
    z-index: 5;
    height: 0;
  }
  .home-page .header-home .overlay .overlay-content a {
    text-transform: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #f4f2ea;
    font-weight: 550;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    padding: 10px;
    position: relative;
    transition: 0.2s;
  }
  .home-page .header-home .overlay .overlay-content a:hover {
    letter-spacing: 0.3rem;
  }
}
@media (min-width: 768px) {
  .home-page .header-home .overlay .overlay-content a {
    font-size: 1.5rem;
  }
}