.about-page, .projects-page, .home-page {
  height: 100vh;
  width: 100%;
}

.about-page .header-projects, .projects-page .header-projects {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.7rem;
  padding-left: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #0a464b 23%, #f4f2ea 34%, #ffca9f 100%);
}

.hamburger-menu {
  width: 55px;
  height: 55px;
  background-color: #ffca9f;
  top: 30px;
  right: 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 300;
  transition: all 0.5s;
}

.hamburger-menu:focus {
  outline: none;
}

.change .hamburger-menu {
  background-color: #0a464b;
  outline: none;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #0a464b;
  margin: 2px 0;
  transform-origin: right;
  transition: all 0.5s;
}

.change .line-1 {
  transform: rotate(-40deg) translateY(-5px);
  background-color: #ffca9f;
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotate(40deg) translateY(5px);
  background-color: #ffca9f;
}

.bg-cover {
  background-color: #f4f2ea;
  width: 45px;
  height: 45px;
  top: 35px;
  position: fixed;
  right: 35px;
  z-index: 100;
  border-radius: 50%;
  transition: transform 0.5s;
}

.change .bg-cover {
  transform: scale(150);
}

.nav-list {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
}

.nav-item {
  margin: 1vh 0;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #0a464b;
  transition: letter-spacing 0.2s;
}

.nav-link:hover {
  letter-spacing: 0.8rem;
}

@media (min-width: 576px) {
  .hamburger-menu, .bg-cover {
    visibility: hidden;
  }

  .home-page .scroll {
    color: #0a464b;
  }
  .home-page .nav-list {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 10px;
    margin-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 0;
  }
  .home-page .nav-list .nav-link {
    text-transform: none;
  }
  .home-page .nav-list .nav-item a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    color: #f4f2ea;
    padding: 10px;
    position: relative;
  }
  .home-page .nav-list .nav-item a:hover {
    color: #f4f2ea;
  }
  .home-page .nav-list .nav-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #f4f2ea;
    visibility: hidden;
    transition: scaleX(0);
    transition: all 0.1s ease-in-out 0s;
  }
  .home-page .nav-list .nav-item a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}
@media (min-width: 768px) {
  .home-page .nav-list .nav-item a {
    font-size: 1.5rem;
  }
}
footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0;
  bottom: 55;
  transform: rotate(90deg);
}
footer .break {
  height: 2px;
  width: 50px;
  background-color: #f4f2ea;
}
footer .scroll-text {
  color: #f4f2ea;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

@media (min-width: 768px) {
  .footer .scroll-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .footer .scroll-text {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .footer .scroll-text {
    font-size: 2.2rem;
  }
}
/* PAGE ONE  */
.main-intro {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  margin: auto;
  height: 95vh;
}
.main-intro .intro-hello {
  margin: 30% 10% 0% 10%;
}
.main-intro .intro-hello .greeting {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffca9f;
  font-size: 3.5rem;
  letter-spacing: 0px;
}
.main-intro .intro-description {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
.main-intro .intro-description img {
  width: 110px;
  height: 110px;
}
.main-intro .intro-description h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: #f4f2ea;
  text-align: left;
}

.projects-page {
  height: fit-content;
}
.projects-page .header-projects {
  color: #2c2c2c;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.projects .project {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.projects .project img {
  width: 180px;
  height: auto;
  margin: 10px;
}
.projects .project .project-description {
  margin: 5px;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  color: #2c2c2c;
  min-width: 200px;
}
.projects .project .project-description p {
  text-align: center;
}
.projects .project .buttons {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.projects .project .button {
  background-color: #2c2c2c;
  color: #f4f2ea;
  font-family: "Manrope", sans-serif;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 5px auto;
  border-radius: 15px;
  width: 70px;
}
.projects .project .button:focus {
  outline: none;
}
.projects .project .button:hover {
  background: #434343;
}
.projects .project .button a {
  text-decoration: none;
  color: #f4f2ea;
}

.about-page .header-projects {
  color: #0a464b;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px auto;
  grid-template-areas: "abt photo" "call call";
  grid-gap: 2px;
  height: 70%;
  font-family: "Montserrat", sans-serif;
  color: #2c2c2c;
}
.about .short-description {
  grid-area: abt;
  padding: 35px 5px 0 5px;
  font-size: 1.3rem;
}
.about .short-description .hidden {
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}
.about .profilePhoto {
  grid-area: photo;
  justify-self: center;
  position: relative;
  display: inline-block;
}
.about .profilePhoto img {
  right: 0.05%;
}
.about .profilePhoto #two {
  height: 250px;
  width: 210px;
  display: none;
  position: absolute;
  z-index: 2;
}
.about .profilePhoto #one {
  height: 250px;
  width: auto;
  z-index: 0;
}
.about .profilePhoto:hover #two {
  display: inline;
  z-index: 1;
  position: absolute;
}
.about .goodbye {
  grid-area: call;
  padding: 0 40px;
  font-size: 1.5rem;
}

.contact {
  margin: 7px;
  text-align: center;
}
.contact button {
  background-color: #2c2c2c;
  font-size: 1.1rem;
  color: #f4f2ea;
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 20px auto;
  width: 170px;
  border-radius: 15px;
}
.contact button:focus {
  outline: none;
}
.contact button a {
  text-decoration: none;
  color: #f4f2ea;
}
.contact button:hover {
  background: #434343;
}
.contact .social-buttons .fa-3x {
  color: #0a464b;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.contact .social-buttons:link {
  color: #0a464b;
}
.contact .social-buttons:visited {
  color: #0a464b;
}
.contact .social-buttons:active {
  color: #0a464b;
}
.contact .a:hover, .contact .fa-3x:hover {
  transform: scale(1.1);
  color: #2c2c2c;
}

@media (min-width: 576px) {
  .main-intro .intro-hello {
    margin-top: 10%;
  }
  .main-intro .intro-hello .greeting {
    font-size: 3.1rem;
  }
  .main-intro .intro-description img {
    width: 120px;
    height: 120px;
    margin-left: 10%;
  }
  .main-intro .intro-description h2 {
    margin-right: 35%;
  }

  .projects-page {
    height: fit-content;
  }

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .about-page {
    position: relative;
  }

  .about {
    position: absolute;
    top: 0px;
    right: 0;
    width: 70vw;
    height: 100%;
    grid-template-rows: 200px auto;
    grid-gap: 0;
  }
  .about .short-description {
    position: absolute;
    grid-area: none;
    align-self: end;
    z-index: 2;
    background-color: #ffca9f;
    margin-left: 70%;
    font-size: 1rem;
    padding: 10px;
    height: 50%;
  }
  .about img {
    position: absolute;
    top: 0;
    right: 40%;
    z-index: 1;
  }
  .about .profilePhoto #two, .about .profilePhoto #one {
    height: 300px;
    width: 255px;
  }
  .about .goodbye {
    width: 50%;
    margin-left: 10%;
    font-size: 1.2rem;
    background-color: #f4f2ea;
    padding: 15px;
    z-index: 2;
  }

  .contact {
    padding-left: 15px;
    position: absolute;
    top: 40%;
    margin: 0;
  }
  .contact button {
    width: 170px;
  }
  .contact .social-buttons .fa-3x {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .main-intro .intro-description img {
    width: 180px;
    height: 180px;
  }
  .main-intro .intro-description h2 {
    font-size: 1.5rem;
  }

  .projects-page {
    height: fit-content;
  }
  .projects-page .header-projects {
    font-size: 3rem;
  }

  .projects {
    margin-top: 5%;
  }
  .projects .project img {
    width: 250px;
  }

  .about-page .header-projects {
    font-size: 3rem;
  }

  .about .short-description {
    font-size: 1.3rem;
    padding: 15px;
    margin-left: 60%;
    line-height: 1.5;
  }
  .about .short-description .hidden {
    visibility: visible;
    overflow: visible;
  }
  .about .profilePhoto #two {
    height: 550px;
    width: 465px;
  }
  .about .profilePhoto #one {
    height: 550px;
    width: auto;
  }
  .about .goodbye {
    font-size: 1.9rem;
    margin-left: 0;
    margin-top: 30%;
  }

  .contact {
    padding-left: 30px;
  }
  .contact button {
    width: 240px;
  }
  .contact .social-buttons .fa-3x {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .main-intro .intro-hello {
    margin-top: 10%;
  }
  .main-intro .intro-hello .greeting {
    font-size: 5rem;
  }
  .main-intro .intro-description img {
    width: 200px;
    height: 200px;
  }
  .main-intro .intro-description h2 {
    font-size: 2rem;
    margin-right: 36%;
  }

  .projects-page .header-projects {
    font-size: 3.5rem;
  }

  .projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-top: 0;
    padding: 0 5%;
  }
  .projects .project {
    border-bottom: 2px solid #2c2c2c;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
  }
  .projects .project .end {
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-start;
  }
  .projects .project .end p {
    font-size: 1.1rem;
    text-align: right;
  }
  .projects .project .start {
    width: 250px;
    flex-direction: column;
    align-self: flex-end;
    justify-content: start;
  }
  .projects .project .start p {
    text-align: start;
    font-size: 1.1em;
  }
  .projects .project .project-image-one {
    margin-left: 15%;
  }
  .projects .project .project-image-two {
    margin-right: 15%;
  }
  .projects .project .buttons-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .projects .project .buttons-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .projects .project .button-right {
    width: 80px;
    margin: 15px 0 0 15px;
  }
  .projects .project .button-left {
    width: 80px;
    margin: 10px 15px 0 0;
  }
  .projects .project-one {
    flex-direction: row-reverse;
  }
  .projects .project-two {
    flex-direction: row;
  }

  .about-page .header-projects {
    font-size: 3.5rem;
  }

  .about .short-description {
    font-size: 1.3rem;
    padding: 15px;
    height: 60%;
  }
  .about img {
    right: 45%;
  }
  .about .profilePhoto #two {
    height: 550px;
    width: 460px;
  }
  .about .profilePhoto #one {
    height: 550px;
    width: auto;
  }
  .about .goodbye {
    font-size: 2rem;
    margin-left: 5%;
    width: 45%;
    margin-top: 20%;
    padding: 2% 2% 0 2%;
  }

  .contact button {
    width: 270px;
    padding: 10px;
  }
  .contact .social-buttons .fa-3x {
    margin-right: 25px;
    margin-left: 25px;
  }
}
@media (min-width: 1200px) {
  .main-intro .intro-hello {
    margin-top: 8%;
  }
  .main-intro .intro-hello .greeting {
    font-size: 7rem;
  }
  .main-intro .intro-description img {
    width: 280px;
    height: 280px;
  }
  .main-intro .intro-description h2 {
    font-size: 2.2rem;
    margin-right: 50%;
  }

  .projects-page .header-projects {
    font-size: 5rem;
  }

  .projects {
    padding: 0 10%;
    row-gap: 25px;
  }
  .projects .project .end {
    margin-right: 27%;
  }
  .projects .project .end p {
    font-size: 1.3rem;
  }
  .projects .project .start {
    margin-right: 2%;
    padding: 0 30px 0 20px;
  }
  .projects .project .start p {
    padding: 0;
    font-size: 1.3em;
  }
  .projects .project .button-right {
    width: 100px;
    margin: 15px 0 0 15px;
  }
  .projects .project .button-left {
    width: 100px;
    margin: 15px 15px 0 0;
  }
  .projects .project .project-two {
    margin-bottom: 10px;
  }

  .about-page .header-projects {
    font-size: 5rem;
  }

  .about .short-description {
    font-size: 1.57rem;
    padding: 40px;
    height: 60%;
    line-height: 1.6;
    margin-left: 65%;
  }
  .about img {
    right: 60%;
  }
  .about .profilePhoto #two {
    height: 650px;
    width: 549px;
  }
  .about .profilePhoto #one {
    height: 650px;
    width: auto;
  }
  .about .goodbye {
    font-size: 2.5rem;
    margin-left: 5%;
    width: 35%;
    line-height: 1;
    padding: 3% 3% 0 3%;
  }

  .contact {
    margin-left: 5%;
  }
  .contact button {
    width: 300px;
    padding: 12px;
  }
  .contact .social-buttons .fa-3x {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 60px;
  }
}
@media (min-width: 1700px) {
  .projects-page {
    padding: 0 10%;
    height: fit-content;
  }
  .projects-page .project {
    padding: 0 5%;
  }
  .projects-page .project .end {
    margin-right: 36%;
  }
  .projects-page .project .start {
    margin-right: 2%;
  }

  .about .goodbye {
    font-size: 2.7rem;
    line-height: 1.2;
    padding: 3% 3% 0 3%;
  }
  .about .profilePhoto #two {
    height: 700px;
    width: 599px;
  }
  .about .profilePhoto #one {
    height: 700px;
    width: auto;
  }
}