$main-green: #0a464b;
$egg-shell: #f4f2ea;
$pale-pink: #ffca9f;
$brown: #2c2c2c;
$font-mont: 'Montserrat', sans-serif;
$font-source: 'Source Sans Pro', sans-serif;
$font-manrope: 'Manrope', sans-serif;

%page-set-up {
    height: 100vh;
    width: 100%;
}

%header {
    font-family: $font-source;
    font-size: 1.7rem;
    padding-left: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: background-color 1s ease;
    // border: 1px solid red;
}

body {
    background: rgb(10,70,75);
    background: linear-gradient(180deg, rgba(10,70,75,1) 21%, rgba(244,242,234,1) 36%, rgba(255,202,159,1) 85%);
}

/* PAGE ONE  */

// nav bar

.home-page {
    // background-color: $main-green;
    @extend %page-set-up;
    
    .hamburger-menu {
        width: 55px;
        height: 55px;
        background-color: $pale-pink;
        top: 30px;
        right: 30px;
        border: none;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 300;
        // transition: all 0.5s;
    }

    .hamburger-menu:focus {
        outline: none;
    }

    .change .hamburger-menu {
        background-color: $main-green;
        outline: none;
    }

    .line {
        width: 30px;
        height: 2px;
        background-color: $main-green;
        margin: 2px 0;
        transform-origin: right;
        transition: all 0.5s;
    }
    
    .change .line-1 {
        transform: rotate(-40deg) translateY(-5px);
        background-color: $pale-pink;
    }
    
    .change .line-2 {
        opacity: 0;
    }

    .change .line-3 {
        transform: rotate(40deg) translateY(5px);
        background-color: $pale-pink;
    }

    .bg-cover {
        background-color: $egg-shell;
        width: 45px;
        height: 45px;
        top: 35px;
        position: fixed;
        right: 35px;
        z-index: 100;
        border-radius: 50%;
        transition: transform 0.5s;
    }


    .change .bg-cover {
        transform: scale(150);
    }

    .nav-list {
        height:100vh;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        z-index: 200;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s;
    }

    .change .nav-list {
        opacity: 1;
        visibility: visible;
    }

    .nav-item {
        margin: 1vh 0;
    }
    
    .nav-link {
        font-family: $font-mont;
        font-weight: 600;
        font-size: 2rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $main-green;
        transition: letter-spacing 0.2s;
    }

    .nav-link:hover {
        letter-spacing: 0.8rem;
    }
}


// main area

.main-intro {
    display: grid;
    grid-template-rows: 1fr 1fr;
    // border: 2px solid orangered;
    grid-gap: 5px;
    margin: auto;
    height: 95vh;

    .intro-hello {
        margin: 30% 10% 0% 10%;
        // border: 2px solid yellow;

        .greeting {
            font-family: $font-source;
            color: $pale-pink;
            font-size: 3.5rem;
            letter-spacing: 0px;
        }    
    }

    .intro-description {
        // border: 2px solid yellow;
        display: flex;
        margin-left: 10%;
        margin-right: 10%;

        img {
            width: 110px;
            height: 110px;
            // border: 2px solid red;
        }

        h2 {
            font-family: $font-mont;
            font-weight: 400;
            font-size: 1rem;
            letter-spacing: 0.2rem;
            color: $egg-shell;
            // border: 2px solid red;
            text-align: left;
        }
    }
}

// Footer

footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    bottom: 55;
    transform: rotate(90deg);

    .break {
        height: 2px;
        width: 50px;
        background-color: $egg-shell ;
    }

    .scroll-text {
        color: $egg-shell;
        font-family: $font-mont;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }
}


// PAGE TWO - PROJECTS

.projects-page {
    // background-color: $egg-shell;
    @extend %page-set-up;
    height: fit-content;

    .header-projects {
        color: $brown;
        @extend %header
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:50px;
    // border: 2px solid blue;

    .project {
        display: flex;
        flex-direction: column;
        // border: 2px solid red;
        margin: 10px;
    
        img {
            width: 180px;
            height: auto;
            margin: 10px;
            // border: 2px solid green;
        }

        .project-description {
            margin: 5px;
            font-family: $font-manrope;
            font-weight: 300;
            color: $brown;
            // border: 2px solid green;

            p {
                text-align: center;
            }
        }

        .buttons {
            display: flex;
            flex-wrap: nowrap;
            margin: 0 auto;
        }
        .button {
            background-color: $brown;
            color:$egg-shell;
            font-family: $font-manrope;
            border: none;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin: 5px auto;
            border-radius: 15px;
            width: 70px;

            &:focus {
                outline: none;
            }
        }
    }
    
}


// PAGE THREE - ABOUT

.about-page {
    // background-color: $pale-pink;
    @extend %page-set-up;

    .header-projects {
        color: $main-green;
        @extend %header
    }
}


.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "abt photo"
    "call call";
    grid-gap: 2px;
    height: 70%;
    font-family: $font-mont;
    color: $brown;
    // border: 2px solid green;

    .short-description {
        grid-area: abt;
        height: 60%;
        justify-content: center;
        align-self: center;
        padding: 10px 20px 0 20px;
        font-size: 1.3rem;
        // border: 2px solid red;

        .hidden {
            display: none;
        }
    }

    img {
        grid-area: photo;
        height: auto;
        width: 200px;
        // border: 2px solid red;
        justify-self: center;
    }

    .goodbye {
        grid-area: call;
        // border: 2px solid red;
        padding:10px 40px;
        font-size: 1.5rem;

    }
}

.contact {
    margin: 7px;;
    text-align: center;
    // border: 2px solid red;
    button {
        background-color: $brown;
        font-size: 1.1rem;
        color:$egg-shell;
        font-family: $font-mont;
        border: none;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        margin: 20px auto;            
        width: 270px;
        border-radius: 15px;

        &:focus {
            outline: none;
        }

        a {
            text-decoration: none;
            color: $egg-shell;
        }
    }

    .social-buttons {
        .fa-3x {
            color: $main-green;
            margin-right: 30px;
            margin-left: 30px;
            cursor: pointer;
        }
        
        &:link {
            color: $main-green;
        }

        &:visited {
            color: $main-green;
        }

        &:active {
            color: $main-green;
        }
    }
    .a:hover, .fa-3x:hover {
        transform: scale(1.1);
        color: $brown;
    }
}


// Small devices (landscape phones, 576px and up) 

@media (min-width: 576px) {
    // page one
    .hamburger-menu, .bg-cover {
        visibility: hidden;
    }

    .home-page {
        .scroll {
            color: $main-green;
        } 
        
        .nav-list {
            visibility: visible;
            opacity: 1;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            padding: 10px;
            margin-top: 15px;
            position: fixed;
            width: 100%;
            z-index: 5;
            height: 0;

            .nav-link {
                text-transform: none;
            }

            .nav-item a {
                text-decoration: none;
                font-family: $font-mont;
                font-weight: 400;
                font-size: 1rem;
                letter-spacing: 0.3rem;
                color: $egg-shell;
                padding: 10px;
                position: relative;
        
                &:hover {
                    color: $egg-shell;
                }
        
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1.5px;
                    bottom: 0;
                    left: 0;
                    background-color: $egg-shell;
                    visibility: hidden;
                    transition: scaleX(0);
                    transition: all 0.1s ease-in-out 0s;
                }
        
                &:hover::before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }

    .main-intro {
        .intro-hello {
            margin-top: 10%;

            .greeting {
                font-size: 3.1rem;
            }
        }

        .intro-description {
            img {
                width: 120px;
                height: 120px;
                margin-left: 10%;
            }

            h2 {
                margin-right: 35%;
            }
        }
    }

    // page two

    .projects-page {
        height: fit-content;
    }
    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    // page three

    .about-page {
        position: relative;
        // border: 2px solid yellow;
    }

    .about {
        position: absolute;
        top: 0px;
        right: 0;
        width: 70vw;
        height: 100%;

        .short-description {
            position: absolute;
            grid-area: none;
            align-self: end;
            z-index: 2;
            background-color: $pale-pink;
            margin-left: 70%;
            font-size: 1rem;
            padding: 10px;
            height: 50%;
        }

        img {
            position: absolute;
            top: 0;
            right: 40%;
            width: 190px;
            z-index: 1;
        }

        .goodbye {
            height: 100%;
            width: 50%;
            margin-left: 10%;
            font-size: 1.2rem;
            background-color: $egg-shell;
            padding: 35px;
            z-index: 2;
        }
    }

    .contact {
        position: absolute;
        top:40%;
        margin: 0;

        button {
            width: 170px;
        }

        .social-buttons {
            .fa-3x {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    //page one
    .home-page {
        .nav-list {
            .nav-item a {
                font-size: 1.5rem;
            }
        }
    }

    .main-intro {
        .intro-description {
            img {
                width: 180px;
                height: 180px;
            }

            h2 {
                font-size: 1.5rem;
            }
        }
    }

    .footer {
        .scroll-text {
            font-size: 1.5rem;
        }
    }
  // page two

    .projects-page {
        height: fit-content;

        .header-projects {
            font-size: 3rem;
        }
    }

    .projects {
        margin-top: 5%;

        .project {
            img {
                width: 250px;
            }
        }
    }

    // page three

    .about-page {
        .header-projects {
            font-size: 3rem;
        }
    }

    .about {
        .short-description {
            font-size: 1.3rem;
            padding: 15px;
        }

        img {
            width: 250px;
        }

        .goodbye {
            font-size: 2rem;
        }
    }

    .contact {
        button {
            width: 230px;
        }
        .social-buttons {
            .fa-3x {
                margin-right: 20px;
                margin-left: 20px;
            }
        }
    }


}

// // Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    //page one
    .main-intro {
        .intro-hello {
            margin-top: 10%;

            .greeting {
                font-size: 5rem;
            }
        }

        .intro-description {
            img {
                width: 200px;
                height: 200px;
            }

            h2 {
                font-size: 2rem;
                margin-right: 36%;
            }
        }
    }

    .footer {
        .scroll-text {
            font-size: 2rem;
        }
    }

    // page two

    .projects-page {
        .header-projects {
            font-size: 3.5rem;
        }
        
    }

    .projects {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns:  1fr;
        margin-top: 0;
        
        
        .project {
            justify-self: center;
            border-bottom: 2px solid $brown;
            padding-bottom: 40px;;

            .end {
                padding: 0 20px 0 40px;
                display: flex; 
                flex-direction: column;
                align-self: flex-end;  
                justify-content: end; 
                margin-right: 5%;

                p {
                font-size: 1.1rem;
                text-align: right;
                }
            }
    
            .start {
                width: 250px;
                padding: 0 40px 0 20px;
                display: flex; 
                flex-direction: column;
                align-self: flex-end;  
                justify-content: start; 
                margin-left: 10%;

                p {
                    text-align: start;
                    font-size: 1.1em;
                }
            }

            img {
                width: 200px;
                height: auto;
            }

            .project-image-one {
                margin-left: 15%;
            }
            
            .project-image-two {
                margin-right: 15%;
            }

            .buttons-right {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

            }

            .buttons-left {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }

            .button-right {
                width: 80px;
                margin: 15px 0 0 15px;
            }

            .button-left {
                width: 80px;
                margin: 10px 15px 0 0;
            }
        }

        .project-one {
            flex-direction: row-reverse;
        }

        .project-two {
            flex-direction: row;
        }
    }

        // page three

        .about-page {
            .header-projects {
                font-size: 3.5rem;
            }
        }
    
        .about {
            .short-description {
                font-size: 1.3rem;
                padding: 15px;
                height: 69%;

                .hidden {
                    visibility: visible;
                }
            }
    
            img {
                width: 300px;
                right: 45%;
            }
    
            .goodbye {
                font-size: 2rem;
                margin-left: 5%;
                width: 45%;
            }
        }
    
        .contact {
            margin-left: 30px;
            button {
                width: 270px;
                padding: 10px;
            }
            .social-buttons {
                .fa-3x {
                    margin-right: 25px;
                    margin-left: 25px;
                }
            }
        }
    
}


// // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    // page one

    .main-intro {
        // grid-template-rows: 1fr 1fr;
        .intro-hello {
            margin-top: 8%;

            .greeting {
                font-size: 7rem;
            }
        }

        .intro-description {
            img {
                width: 280px;
                height: 280px;
            }

            h2 {
                font-size: 2.2rem;
                margin-right: 50%;
            }
        }
    }

    .footer {
        .scroll-text {
            font-size: 2.2rem;
        }
    }

    //page two

    .projects-page {
        .header-projects {
            font-size: 5rem;
        }
    }
    

    .projects {
        row-gap: 25px;
        .project {
            .end {
                margin-right: 26%;

                p {
                font-size: 1.3rem;
                }
            }
    
            .start {
                margin-left: 27%;
                padding: 0 30px 0 20px;

                p {
                    padding: 0;
                    font-size: 1.3em;
                }
            }

            img {
                width: 230px;
                height: auto;
            }

            .project-image-one {
                margin-left: 50%;
            }
            
            .project-image-two {
                margin-left: -50%;
            }


            .button-right {
                width: 100px;
                margin: 15px 0 0 15px;
            }

            .button-left {
                width: 100px;
                margin: 15px 15px 0 0;
            }

            .project-two {
                margin-bottom: 10px;
            }
        }

    }

       // page three

        .about-page {
        .header-projects {
            font-size: 5rem;
        }
    }

    .about {
        .short-description {
            font-size: 1.57rem;
            padding: 40px;
            height: 60%;
            line-height: 1.6;
            margin-left: 65%;

            .hidden {
                visibility: visible;
            }
        }

        img {
            width: 450px;
            right: 60%;
        }

        .goodbye {
            font-size: 2.5rem;
            margin-left: 5%;
            width: 35%;
            // margin-bottom: 6%;
            line-height: 1;
        }
    }

    .contact {
        margin-left: 5%;
        button {
            width: 300px;
            padding: 12px;
        }
        .social-buttons {
            .fa-3x {
                margin-right: 30px;
                margin-left: 30px;
                font-size: 60px;
            }
        }
    }
}

@media (min-width: 1700px) {
    //page two

    .projects-page {
        height: fit-content;
    }


    // page three
    .about {
        .goodbye {
            font-size: 2.7rem;
            line-height: 1.2;
        }
    }
}

.scroll {
    color: $main-green;
}